@{
    ViewData["Title"] = "Вход в администрацию";
}
<div align="center">
    <form method="post">
        <label>Логин:</label>
        <input type="text" name="Username" /><br /><br />
        <label>Пароль:</label>
        <input type="password" name="Password" /><br /><br />
        <input type="submit" value="Войти" />
    </form>
</div>